@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap");

:root {
  --primary-color: #212d97;
  --border: rgba(33, 45, 151, 0.32);
  --paragraph-font: "open sans", calibri;
}

* {
  padding: 0%;
  margin: 0%;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
body {
  background-color: #fafafa;
}
/* Started */

.navbar {
  height: 10vh;
  width: 100vw;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.navbar-margin {
  height: 100%;
  width: 94%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bars {
  display: none;
}
.navbar-left-section {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbar-left-section img {
  width: 17%;
}

.navbar-right-section {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navbar-right-section a {
  padding: 10px 16px;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-right: 15px;
  background-color: white;
  border: 1px solid var(--border);
  color: var(--primary-color);
}
.navbar-right-section a:nth-child(1) {
  border: 1px solid var(--border);
  background-color: #212D97;
  color: white;
  text-decoration: none;
}


.navbar-right-section a:hover {
  border: 1px solid var(--border);
}

.input-container {
  width: 55%;
  height: 100%;
  margin-left: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
::placeholder {
  color: #aaaaaa;
  font-size: 12px;
}
.input-field {
  padding: 10px 35px;
  width: 100%;
  outline: none;
  font-family: var(--paragraph-font);
  font-weight: 600;
  color: #222222fa;
  line-height: 30px;
  background-color: white;
  height: 60%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  border: 1px solid #dddddd;
}
.icon {
  z-index: 1;
  float: left;
  left: 3%;
  color: #777777;
  position: absolute;
}
.input-field:focus {
  border: 1px solid #212d97;
}
/*
Navbar Style End Here
*/
/*
Navbar Style End Here
*/
/*
Navbar Style End Here
*/

.banner {
  height: 60vh;
  width: 100vw;
  margin-top: 30px;
  display: flex;
  align-items: center;

  justify-content: center;
}
.banner-margin {
  height: 96%;
  width: 94%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
form {
  height: 100%;
  width: 30%;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 6px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  padding: 20px 30px;
}
form h2 {
  font-size: 22px;
  letter-spacing: -1px;
}
select {
  width: 100%; 
  padding-left: 1rem;
  padding-right: 100px;
  outline: none;
   background-image: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png");
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 12px;
  font-weight: 400;
  line-height: 30px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 6px;
  border: 1px solid #d6d6d6;
  height: 12%;
  color: #aaaaaa;
  font-family: "FontAwesome", var(--paragraph-font);  
  appearance: none;
}

option {
  width: 100%;
  padding: 10px 10px;
  font-size: 12px;
  outline: none;
  font-weight: 600;
  line-height: 30px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 6px;
  height: 12%;
  color: #aaaaaa;
  border: none;
  font-family: "FontAwesome", var(--paragraph-font);
}
.banner-input {
  height: 12%;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}
/* Slider */
.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 54%;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 60%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
.customer-logos {
  height: 30vh;
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.banner-icon {
  z-index: 1;
  float: left;
  left: 3%;

  color: #aaaaaa;
  position: absolute;
}
.banner-input-field {
  height: 100%;
  width: 100%;
  color: #aaaaaa;
  padding: 10px 35px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  background-color: white;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  outline: none;
  font-weight: 400;
  line-height: 30px;
  font-family: "FontAwesome", var(--paragraph-font);
}
#radio {
  height: 12%;
  width: 100%;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid #d6d6d6;
}
label {
  width: 33.3%;
  border: none;
  color: #212d97;
  display: flex;
  text-align: center;
  outline: none;
  font-size: 12px;
  cursor: pointer;
  align-items: center;

  justify-content: center;
  height: 100%;
}
#radio label:nth-child(1) {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#radio label:nth-child(3) {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.active {
  background-color: #212d97;
  color: white;
}

.btn {
  height: 12%;
  width: 100%;
  text-align: center;
  background-color: #212d97;
  border-radius: 10px;
  font-size: 12px;
  cursor: pointer;
  outline: none;
  border: transparent;
  color: white;
}

.property-type {
  width: 67%;
  height: 100%;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 6px;
  padding: 10px 10px;
}
.text {
  height: 100%;
  width: 100%;
  padding-top: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.types {
  height: 100%;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.types1 {
  height: 50%;
  width: 100%;
  padding: 5px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.types1-1 {
  height: 100%;
  width: 33%;
  border: 1px solid rgb(0, 0, 0);
  border: 1px solid #22577e;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
  flex-direction: column;
  color: #212d97;
}
.types1-1:hover {
  background-color: #212d97;
  color: white;

  cursor: pointer;
}
.types1-1 h3 {
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}
.types1-1 span {
  color: #212d97;
}
.text h2 {
  letter-spacing: -1px;
  font-size: 22px;
}

/*

CAROUSEL

*/
.container {
  height: 90vh;
  width: 100vw;
  display: flex;
  align-items: center;
  margin-top: 10vh;
  justify-content: center;
}
.fluid-container {
  height: 96%;
  width: 94%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.cont-1 {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card1 {
  height: 460px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  flex-direction: column;
}

.card2 {
  height: 438px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card3 {
  height: 438px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card4 {
  height: 438px;

  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.card5 {
  height: 438px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.card6 {
  height: 438px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.slick-slide {
  margin: 10px;
  color: black;
}

.slick-next:before,
.slick-prev:before {
  font-family: slick;
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: blue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.picture {
  height: 25vh;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1599420186946-7b6fb4e297f0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: center;
}
.property-info {
  height: 75%;
  width: 100%;
  padding: 10px 20px;
}
.property-info .price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.property-info .price h2 {
  font-size: 16px;
}
.property-info .price a {
  padding: 5px 15px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 8px;
  color: white;
  background-color: #212d97;
}
.adress {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.adress .iconify {
  width: 13.74px;
  height: 13.74px;
}
.adress p {
  font-size: 10.82px;
}
.specialIn {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cd1 {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.specialIn .bed {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.specialIn .bed .iconify {
  width: 19px;
  height: 19px;
}
.specialIn .bed p {
  font-size: 10px;
}
.buttons {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.buttons a:nth-child(1) {
  background-color: #212d97;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 100%;
  height: 36.59px;
  border-radius: 5px;
  font-size: 11px;
  font-weight: bold;
  color: white;
}

.buttons a:nth-child(2) {
  background-color: #ffffff;
  text-align: center;
  display: flex;
  font-weight: bold;
  margin-top: 10px;
  align-items: center;
  border: 1px solid #212d97;
  justify-content: center;
  text-decoration: none;
  font-size: 11px;
  width: 100%;
  height: 36.59px;
  border-radius: 5px;
  color: #212d97;
}
.picture1 {
  height: 25vh;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1560448204-e02f11c3d0e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cmVhbCUyMGVzdGF0ZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: center;
}

.picture2 {
  height: 25vh;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1479839672679-a46483c0e7c8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cmVhbCUyMGVzdGF0ZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: center;
}

.picture3 {
  height: 25vh;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1580587771525-78b9dba3b914?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHJlYWwlMjBlc3RhdGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: center;
}

.picture4 {
  height: 25vh;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1484154218962-a197022b5858?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fHJlYWwlMjBlc3RhdGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: center;
}

.picture5 {
  height: 25vh;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1560184897-ae75f418493e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fHJlYWwlMjBlc3RhdGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: center;
}
/*
card designing have been ended here
*/


 
footer{ 
  background: #212D97;
  width: 100%;
  margin-bottom: 0;
  left: 0;
}
footer::before{
  content: '';
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: #AFAFB6;
}
footer .content{
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
footer .content .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.content .top .logo-details{
  color: #fff;
  font-size: 30px;
}
.content .top .media-icons{
  display: flex;
}
.content .top .media-icons a{
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1){
  background: #4267B2;
}
.top .media-icons a:nth-child(1):hover{
  color: #4267B2;
  background: #fff;
}
.top .media-icons a:nth-child(2){
  background: #1DA1F2;
}
.top .media-icons a:nth-child(2):hover{
  color: #1DA1F2;
  background: #fff;
}
.top .media-icons a:nth-child(3){
  background: #E1306C;
}
.top .media-icons a:nth-child(3):hover{
  color: #E1306C;
  background: #fff;
}
.top .media-icons a:nth-child(4){
  background: #0077B5;
}
.top .media-icons a:nth-child(4):hover{
  color: #0077B5;
  background: #fff;
}
.top .media-icons a:nth-child(5){
  background: #FF0000;
}
.top .media-icons a:nth-child(5):hover{
  color: #FF0000;
  background: #fff;
}
footer .content .link-boxes{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box{
  width: calc(100% / 5 - 10px);
}
.content .link-boxes .box .link_name{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}
.content .link-boxes .box li{
  margin: 6px 0;
  list-style: none;
}
.content .link-boxes .box li a{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}
.content .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box{
  margin-right: 55px;
}
.link-boxes .input-box input{
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: #140B5C;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder{
  color: #AFAFB6;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"]{
  background: #fff;
  color: #140B5C;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
  opacity: 1;
}
footer .bottom-details{
  width: 100%; 
}
footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}
@media (max-width: 900px) {
  footer .content .link-boxes{
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box{
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px){
  footer{
    position: relative;
  }
  .content .top .logo-details{
    font-size: 26px;
  }
  .content .top .media-icons a{
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 12px;
  }
}
@media (max-width: 520px){
  footer::before{
    top: 145px;
  }
  footer .content .top{
    flex-direction: column;
  }
  .content .top .media-icons{
    margin-top: 16px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 100%;
  }
}

.grid {
  min-height: 120vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-margin {
  height: 90%;
  width: 94%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.grid-main {
  height: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(301px, 1fr));
  grid-auto-rows: 184px;
  width: 100%;
  gap: 20px;
}
.lahore {
  overflow: hidden;
  border: 1px solid #22577e;
  background-image: url("https://images.unsplash.com/photo-1601399681546-ff2983a355c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bGFob3JlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  border-radius: 10.25px;
  position: relative;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-size: cover;
  background-position: center;
}
.lahore::after {
  content: "Lahore";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  width: 100%;
  background-color: #212d97;
  color: white;
  bottom: 0%;
  cursor: pointer;
  transition: 0.4s ease;
  position: absolute;
}

.lahore:hover::after {
  top: 0%;
  left: 0%;
  height: 100%;
  background-color: #212d9798;
  width: 100%;
}

.nankana {
  overflow: hidden;
  background-image: url("https://images.unsplash.com/photo-1620758661032-693581dc04d4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bmFua2FuYSUyMHNhaGlifGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  border-radius: 10.25px;
  position: relative;

  border: 1px solid #22577e;
  background-size: cover;
  background-position: center;
}
.nankana::after {
  content: "Nankana";
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 20%;
  width: 100%;
  background-color: #212d97;
  color: white;
  bottom: 0%;
  position: absolute;
}

.karachi {
  overflow: hidden;
  background-image: url("https://images.unsplash.com/photo-1611068661807-c850d6a24f62?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8a2FyYWNoaXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  border-radius: 10.25px;
  position: relative;

  border: 1px solid #22577e;
  background-size: cover;
  background-position: center;
}
.karachi::after {
  content: "Karachi";
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 20%;
  width: 100%;
  background-color: #212d97;
  color: white;
  bottom: 0%;
  position: absolute;
}

.Islamabad {
  overflow: hidden;
  background-image: url("https://images.unsplash.com/photo-1605795733251-a0b6c96d9dea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8c2hhaCUyMGZhaXNhbCUyMG1vc3F1ZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  border-radius: 10.25px;
  position: relative;

  border: 1px solid #22577e;
  background-size: cover;
  background-position: center;
}
.Islamabad::after {
  content: "Islamabad";
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 20%;
  width: 100%;
  background-color: #212d97;
  color: white;
  bottom: 0%;
  position: absolute;
}
#bg-image.lazy {
  background-image: none;
  background-color: #f1f1fa;
}
.bahawalpur {
  overflow: hidden;
  background-image: url("https://images.unsplash.com/photo-1633938762451-5dd3d5db0504?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YmFoYXdhbHB1cnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  border-radius: 10.25px;
  position: relative;

  border: 1px solid #22577e;
  background-size: cover;
  background-position: center;
}
.bahawalpur::after {
  content: "Bahawalpur";
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 20%;
  width: 100%;
  background-color: #212d97;
  color: white;
  bottom: 0%;
  position: absolute;
}

.gwader {
  overflow: hidden;
  background-image: url("https://images.unsplash.com/photo-1555686367-56d5186965d5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Z3JhZGVyJTIwcG9ydHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  border-radius: 10.25px;
  position: relative;

  border: 1px solid #22577e;
  background-size: cover;
  background-position: center;
}
.gwader::after {
  content: "Gwader";
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 20%;
  width: 100%;
  background-color: #212d97;
  color: white;
  bottom: 0%;
  position: absolute;
}

.multan {
  overflow: hidden;
  background-image: url("https://images.unsplash.com/photo-1598461814968-639d9321f483?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bXVsdGFufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  border-radius: 10.25px;
  position: relative;

  border: 1px solid #22577e;
  background-size: cover;
  background-position: center;
}
.multan::after {
  content: "Multan";
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 20%;
  width: 100%;
  background-color: #212d97;
  color: white;
  bottom: 0%;
  position: absolute;
}

.murree {
  overflow: hidden;
  background-image: url("https://images.unsplash.com/photo-1622988592277-e55ded3816e7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bXVycmVlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  border-radius: 10.25px;
  position: relative;

  border: 1px solid #22577e;
  background-size: cover;
  background-position: center;
}
.murree::after {
  content: "Murree";
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 20%;
  width: 100%;
  background-color: #212d97;
  color: white;
  bottom: 0%;
  position: absolute;
}

.peshawar {
  overflow: hidden;
  background-image: url("https://images.unsplash.com/photo-1573456023232-8e378725df4b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8a2h5YmVyJTIwcGFraHR1bmtod2F8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
  border-radius: 10.25px;
  position: relative;

  border: 1px solid #22577e;
  background-size: cover;
  background-position: center;
}
.peshawar::after {
  content: "peshawar";
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 20%;
  width: 100%;
  background-color: #212d97;
  color: white;
  bottom: 0%;
  position: absolute;
}
.quetta {
  overflow: hidden;
  background-image: url("https://images.unsplash.com/photo-1638036203191-540815101f26?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cXVldHRhfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  border-radius: 10.25px;
  position: relative;

  border: 1px solid #22577e;
  background-size: cover;
  background-position: center;
}
.quetta::after {
  content: "quetta";
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 20%;
  width: 100%;
  background-color: #212d97;
  color: white;
  bottom: 0%;
  position: absolute;
}
.kashmir {
  overflow: hidden;
  background-image: url("https://images.unsplash.com/photo-1584732200355-486a95263014?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8a2FzaG1pcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  border-radius: 10.25px;
  position: relative;

  border: 1px solid #22577e;
  background-size: cover;
  background-position: center;
}
.kashmir::after {
  content: "kashmir";
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 20%;
  width: 100%;
  background-color: #212d97;
  color: white;
  bottom: 0%;
  position: absolute;
}
.sialkot {
  overflow: hidden;
  background-image: url("https://images.unsplash.com/photo-1587520375529-2e2a1d38e392?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8a2FydGFycHVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  border-radius: 10.25px;
  position: relative;

  border: 1px solid #22577e;
  background-size: cover;
  background-position: center;
}
.sialkot::after {
  content: "sialkot";
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 20%;
  width: 100%;
  background-color: #212d97;
  color: white;
  bottom: 0%;
  position: absolute;
}

/*
end grid system here
*/

/*
end grid system here
*/

.sidebar {
  height: 100%;
  width: 70%;
  background-color: #141c66;
  color: white;
  font-size: 20px;
  display: none;
  position: fixed;
  transition: 0.3s ease;
  z-index: 10;
  top: 0%;
  bottom: 0%;
}
.overlay {
  height: 100%;
  width: 100%;
  background-color: #212d8571;
  z-index: 5;
  bottom: 0%;
  display: none;
  position: fixed;
  backdrop-filter: blur(1px);
}

.show {
  display: block;
}
.showed {
  display: block;
}
/*
end grid system here
*/

.partners {
  height: 30vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.partners-margin {
  height: 100%;
  width: 94%;
}
.companies {
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: calibri;
}
.companies h2 {
  font-size: 52px;
  font-family: "Averia Serif Libre", cursive;
  color: #212d9762;
}

/*

Media Queries

*/

@media all and (max-width: 1450px) {
  .types1-1 {
    height: 90%;
    width: 30%;
    border: 1px solid rgb(0, 0, 0);
    border: 1px solid #22577e;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    flex-direction: column;
    color: #212d97;
  }
}

/*
Media Queries at max-width:1300px
Media Queries at max-width:1300px
Media Queries at max-width:1300px
Media Queries at max-width:1300px
Media Queries at max-width:1300px
*/

@media all and (max-width: 1300px) {
  .types1-1 {
    height: 90%;
    width: 30%;
    border: 1px solid rgb(0, 0, 0);
    border: 1px solid #22577e;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    flex-direction: column;
    color: #212d97;
  }
  form {
    height: 100%;
    width: 35%;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 6px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px 10px;
  }
  form h2 {
    font-size: 20px;
    letter-spacing: -1px;
  }
  select {
    width: 100%;
    padding: 10px 10px;
    outline: none;
    font-weight: 400;
    line-height: 30px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 6px;
    border: 1px solid #d6d6d6;
    height: 12%;
    color: #aaaaaa;
    font-family: "FontAwesome", var(--paragraph-font);
  }

  option {
    width: 100%;
    padding: 10px 10px;
    font-size: 12px;
    outline: none;
    font-weight: 600;
    line-height: 30px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 6px;
    height: 12%;
    color: #aaaaaa;
    border: none;
    font-family: "FontAwesome", var(--paragraph-font);
  }
  .banner-input {
    height: 12%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
  }
  .banner-icon {
    z-index: 1;
    float: left;
    left: 4%;

    color: #aaaaaa;
    position: absolute;
  }
  .banner-input-field {
    height: 100%;
    width: 100%;
    color: #aaaaaa;
    padding: 10px 40px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    background-color: white;

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    outline: none;
    font-weight: 400;
    line-height: 30px;
    font-family: "FontAwesome", var(--paragraph-font);
  }
  #radio {
    height: 12%;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 1px solid #d6d6d6;
  }
  label {
    width: 33.3%;
    border: none;
    color: #212d97;
    display: flex;
    text-align: center;
    outline: none;
    font-size: 12px;
    cursor: pointer;
    align-items: center;

    justify-content: center;
    height: 100%;
  }
  #radio label:nth-child(1) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  #radio label:nth-child(3) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .active {
    background-color: #212d97;
    color: white;
  }

  .btn {
    height: 12%;
    width: 100%;
    text-align: center;
    background-color: #212d97;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
    outline: none;
    border: transparent;
    color: white;
  }
}
/*
Media Queries at max-width:1000px
Media Queries at max-width:1000px
Media Queries at max-width:1000px
Media Queries at max-width:1000px
Media Queries at max-width:1000px
*/

@media all and (max-width: 1000px) {
  .types1-1 {
    height: 90%;
    width: 30%;
    border: 1px solid rgb(0, 0, 0);
    border: 1px solid #22577e;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    flex-direction: column;
    color: #212d97;
  }
  form {
    height: 50%;
    width: 100%;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 6px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px 10px;
  }
  form h2 {
    font-size: 20px;
    letter-spacing: -1px;
  }
  select {
    width: 100%;
    padding: 10px 10px;
    outline: none;
    font-weight: 400;
    line-height: 30px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 6px;
    border: 1px solid #d6d6d6;
    height: 12%;
    color: #aaaaaa;
    font-family: "FontAwesome", var(--paragraph-font);
  }

  option {
    width: 100%;
    padding: 10px 10px;
    font-size: 12px;
    outline: none;
    font-weight: 600;
    line-height: 30px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 6px;
    height: 12%;
    color: #aaaaaa;
    border: none;
    font-family: "FontAwesome", var(--paragraph-font);
  }
  .banner-input {
    height: 12%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
  }
  .banner-icon {
    z-index: 1;
    float: left;
    left: 4%;

    color: #aaaaaa;
    position: absolute;
  }
  .banner-input-field {
    height: 100%;
    width: 100%;
    color: #aaaaaa;
    padding: 10px 40px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    background-color: white;

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    outline: none;
    font-weight: 400;
    line-height: 30px;
    font-family: "FontAwesome", var(--paragraph-font);
  }
  #radio {
    height: 12%;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 1px solid #d6d6d6;
  }
  label {
    width: 33.3%;
    border: none;
    color: #212d97;
    display: flex;
    text-align: center;
    outline: none;
    font-size: 12px;
    cursor: pointer;
    align-items: center;

    justify-content: center;
    height: 100%;
  }
  #radio label:nth-child(1) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  #radio label:nth-child(3) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .active {
    background-color: #212d97;
    color: white;
  }

  .btn {
    height: 12%;
    width: 100%;
    text-align: center;
    background-color: #212d97;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
    outline: none;
    border: transparent;
    color: white;
  }

  .banner-margin {
    height: 100%;
    width: 94%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
  }
  .property-type {
    width: 100%;
    height: 50%;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 6px;
    padding: 10px 10px;
  }
  .text {
    height: 100%;
    width: 100%;
    padding-top: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
  }
  .banner {
    min-height: 110vh;
    width: 100vw;
    margin-top: 30px;
    display: flex;
    align-items: center;

    justify-content: center;
  }
  .grid-main {
    height: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    grid-auto-rows: 180px;
    width: 100%;
    gap: 20px;
  }
  .input-container {
    width: 70%;
    height: 100%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

/*
Media Queries at max-width:500px
Media Queries at max-width:500px
Media Queries at max-width:500px
Media Queries at max-width:500px
Media Queries at max-width:500px
*/

@media all and (max-width: 600px) {
  .types1-1 {
    height: 90%;
    width: 35%;
    border: 1px solid #22577e;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    transition: 0.3s ease;
    gap: 10px;
    flex-direction: column;
    color: #212d97;
  }
  form {
    height: 50%;
    width: 100%;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 6px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px 10px;
  }
  form h2 {
    font-size: 20px;
    letter-spacing: -1px;
  }
  select {
    width: 100%;
    padding: 10px 10px;
    outline: none;
    font-weight: 400;
    line-height: 30px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 6px;
    border: 1px solid #d6d6d6;
    height: 12%;
    color: #aaaaaa;
    font-family: "FontAwesome", var(--paragraph-font);
  }

  option {
    width: 100%;
    padding: 10px 10px;
    font-size: 12px;
    outline: none;
    font-weight: 600;
    line-height: 30px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 6px;
    height: 12%;
    color: #aaaaaa;
    border: none;
    font-family: "FontAwesome", var(--paragraph-font);
  }
  .banner-input {
    height: 12%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
  }
  .banner-icon {
    z-index: 1;
    float: left;
    left: 4%;

    color: #aaaaaa;
    position: absolute;
  }
  .banner-input-field {
    height: 100%;
    width: 100%;
    color: #aaaaaa;
    padding: 10px 40px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    background-color: white;

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    outline: none;
    font-weight: 400;
    line-height: 30px;
    font-family: "FontAwesome", var(--paragraph-font);
  }
  #radio {
    height: 12%;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 1px solid #d6d6d6;
  }
  label {
    width: 33.3%;
    border: none;
    color: #212d97;
    display: flex;
    text-align: center;
    outline: none;
    font-size: 12px;
    cursor: pointer;
    align-items: center;

    justify-content: center;
    height: 100%;
  }
  #radio label:nth-child(1) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  #radio label:nth-child(3) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .active {
    background-color: #212d97;
    color: white;
  }

  .btn {
    height: 12%;
    width: 100%;
    text-align: center;
    background-color: #212d97;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
    outline: none;
    border: transparent;
    color: white;
  }

  .banner-margin {
    height: 100%;
    width: 94%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
  }
  .property-type {
    width: 100%;
    height: 50%;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 6px;
    padding: 10px 10px;
  }
  .text {
    height: 100%;
    width: 100%;
    padding-top: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
  }
  .banner {
    min-height: 100vh;
    width: 100vw;
    margin-top: 30px;
    display: flex;
    align-items: center;

    justify-content: center;
  }
  .grid-main {
    height: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    grid-auto-rows: 180px;
    width: 100%;
    gap: 20px;
  }
  .input-container {
    width: 70%;
    height: 100%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .types1 {
    height: 50%;
    width: 120%;
    padding: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  .navbar-left-section {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .navbar-left-section img {
    width: 17%;
  }

  .navbar-right-section {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .navbar-right-section a {
    padding: 10px 16px;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-right: 15px;
    display: none;
    background-color: white;
    color: var(--primary-color);
  }
  .bars {
    display: block;
    margin-right: 30px;
    cursor: pointer;
  }

  .navbar-left-section {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .navbar-left-section img {
    width: 30%;
  }
  .input-container {
    width: 80%;
    height: 100%;
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .input-field {
    padding: 10px 35px;
    width: 120%;
    outline: none;
    font-family: var(--paragraph-font);
    font-weight: 600;
    color: #222222fa;
    line-height: 30px;
    background-color: white;
    height: 60%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    border: 1px solid #dddddd;
  }
  .slick-next:before,
  .slick-prev:before {
    font-family: slick;
    font-size: 20px;
    display: none;
    line-height: 1;
    opacity: 0.75;
    color: blue;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .cont-1 {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .cont-1 p {
    margin-top: 10px;
    font-size: 14px;
  }
}
